body
{
    color: #e74b4b;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20 px;
    margin: 200;
    padding: 200;
}

#container
{
    width: 40%;
    padding: 2em;
    text-align: left;
    border: 6px solid #333;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
