body
{
    color: #e74b4b;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 2;
    padding: 3;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #333;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
