certifi @ file:///croot/certifi_1665076670883/work/certifi
click @ file:///tmp/build/80754af9/click_1646056590078/work
Flask @ file:///tmp/abs_f02y1lyx6o/croots/recipe/flask_1658870763686/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648544546694/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
